{% extends 'service provider/servicce_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_service_management_post/{{ id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="200" class="table text-white">
{#    <tr>#}
{#      <th scope="row"><p>Service type:</p></th>#}
{#      <td><label for="textfield"></label>#}
{#      <label for="select"></label>#}
{#      <select name="select" id="select">#}
{#          {% for i in data %}#}
{#          <option value="{{ i.id }}">{{ i.type }}#}
{#          {% endfor %}#}
{#      </select></td>#}
{#    </tr>#}
{#      <tr>#}
{#      <th scope="row"><p>Service category:</p></th>#}
{#      <td><label for="textfield"></label>#}
{#      <label for="select2"></label>#}
{#      <select name="select2" id="select2">#}
{#           {% for i in data1 %}#}
{#          <option value="{{ i.id }}">{{ i.subcatogary_name }}#}
{#          {% endfor %}#}
{#      </select></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">Subcategory</th>#}
{#      <td><label for="textfield2"></label>#}
{#      <input type="text" name="textfield2" id="textfield2" /></td>#}
{#    </tr>#}
    <tr>
      <th scope="row">Photo </th>
      <td><label for="textfield3"></label>
        <label for="fileField"></label>
        <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add" /></th>
    </tr>
  </table>
  <p>&nbsp;</p>
  {% endblock %}