{% extends 'service provider/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align:center;font-family: Roboto;">view approved request</h3>
<form id="form1" name="form1" method="post" action="">
  <table align="center" class="table table-bordered">
    <tr align="center" style="background-color: #D81324;color: white">
      <th scope="col">#</th>
      <th scope="col">User info</th>
      <th scope="col">date</th>
      <th scope="col">Total amount</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.USER.name }}<br>{{ i.USER.email }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.amount }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}