{% extends 'service provider/servicce_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="419" class="table text-white">
    <tr>
      <th width="35" height="48" scope="row">#</th>
      <td width="91">Service type</td>
      <td width="93">Description</td>
      <td width="47">Price</td>
      <td width="81">Photo</td>
      <td width="81"></td>
    </tr>
    {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>{{ i.SUBCATEGORY.SERVICE_TYPE.type }}</td>
      <td>{{ i.descrption }}</td>
      <td>{{ i.price }}&nbsp;</td>
      <td><img src="{{ i.photo }}" width="100" height="100"></td>
      <td><a href="/update_view_service_management/{{ i.id }}" class="btn btn-danger py-2 px-3">Update</a></p><br>
      <p><a href="/delete_view_service_management/{{ i.id }}" class="btn btn-danger py-2 px-3">Delete</a></p></td>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>

</body>
</html>
{% endblock %}