<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="view_service_provider">view service provider</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="approved_service_provider">view approved service provider</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_complaint">view complaint and send reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_rating">view rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="service_type_add">service type add</a></th>
    </tr>

      <tr>
      <th scope="row"><a href="service_type_view">service type view</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="service_subcategory_add">service subcategory add</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="service_subcategory_view">service subcategory view</a></th>
    </tr>
          <tr>
      <th scope="row"><a href="logout">Logout</a></th>
    </tr>
  </table>
</form>
</body>
</html>
