{% extends 'admin/index.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table class="table text-white">
  <tr>
    <th  scope="row">sl no</th>
    <td >Rate</td>
    <td >Date</td>
    <td >User info</td>
    <td >service_provider info</td>
  </tr>
  {% for i in data %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.rate }}</td>
    <td>{{ i.date }}</td>
    <td>&nbsp;{{ i.USER.name }}</td>
      <td>{{ i.SERVICE_PROVIDER.name }}</td>
  </tr>
  {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}